<style>
html{
  
}
.kop{
  padding-left: 0px;
  padding-right: 0px
}
p{
  font-size: 12;
}
table.laporan {
  border-collapse: collapse;
  width: 100%;
}
table.laporan td,
table.laporan th {
  border: 1px solid black;
  padding: 5px;
}

table.id_laporan {
  border-collapse: collapse;
  width: 100%;
}
table.id_laporan td,
table.id_laporan th {
  border: 0px solid black;
  align: center;
}

table.ttd_laporan {
  border-collapse: collapse;
  width: 100%;
}
table.ttd_laporan td,
table.ttd_laporan th {
  border: 0px solid black;
}
</style>
